.section {
    padding: 80px 20px;
    background: linear-gradient(to bottom, #0e1821, #0b1117);
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

.text {
    color: #00e0ff;
    font-size: 18px;
}

.img {
    width: 50%;
    height: auto;
}

.final_text {
    font-size: 1.3rem;
}


@media (max-width: 960px) {
    .img {
        width: 70%;
    }
}