.container {
    position: relative;
    overflow: hidden;
    background:#161b22;
    padding: 2rem 0 5rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 70px;
}

.text {
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0 auto 3rem;
    text-align: center;
}

.accent {
    color: #00e0ff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.method-column {
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(15px);
}

.laser-col {
    background: linear-gradient(145deg, rgba(0,255,178,0.1), rgba(0,224,255,0.05));
    border: 1px solid rgba(0,255,178,0.3);
    box-shadow: 0 20px 60px rgba(0,255,178,0.15);
}

.sand-col {
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.05);
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    align-items: flex-start;

    strong {
        display: block;
        margin-bottom: 5px;
    }

    p {
        opacity: 0.7;
        font-size: 0.9rem;
    }
}

.check {
    color: #00ffb2;
    font-size: 20px;
    margin-top: 4px;
}

.cross {
    color: #ff5c5c;
    font-size: 20px;
    margin-top: 4px;
}



@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}