.container {
    background: #161b22;
    padding: 6rem 0;
}

.wrapper {
    text-align: center;
    max-width: 800px;
}

.title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.text {
    font-size: 1.2rem;
}