.container {
    background: #0c1218;
    width: 100%;
    padding-bottom: 1.4rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 3rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    color: #00ffb2;
}

.text {
    font-size: 1.1rem;
    opacity: 0.7;
}
