.section {
    padding: 120px 20px;
    background: linear-gradient(135deg,#00e0ff,#7CFFB2);
    text-align: center;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.button {
    background: black;
    color: #e9eaeb;
    padding: 16px 40px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 50px rgba(0,224,255,0.6);
}