.container {
    width: 100%;
    background: #161b22;
    padding: 3rem 0 7rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 70px;
    text-align: center;
}

.text {
    text-align: center;
    padding: 25px;
    margin: auto;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    display: grid;

    .card {
        position: relative;
        overflow: hidden;
        background: rgba(25, 35, 45, 0.6);
        border-radius: 16px;
        border: 1px solid rgba(255,255,255,0.05);
        transition: box-shadow 0.4s ease;
        display: flex;
        flex-direction: column;
   }

    .card::before {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(12px);
        z-index: -1;
    }

    .card:hover {
        box-shadow: 0 20px 50px rgba(0,224,255,0.25);
    }
}

