.contact {
    background: linear-gradient(135deg,#00e0ff,#7CFFB2);
    color: #000;
    padding: 3rem 0;
}

.title {
    margin-bottom: 70px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

.item {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.btn {
    display:inline-block;
    padding:12px 24px;
    background:#00e0ff;
    color:#000;
    border-radius: 8px;
    font-weight:bold;
    text-decoration:none;
    border:none;
}

