.container {
    padding: 6rem 0;
}

.title {
    font-size: 2rem;
    margin-bottom: 70px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
}